<p id="notice"><%= notice %></p>

<h1>Usuarios Tecnologias</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Tecnologia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios_tecnologias.each do |usuario_tecnologia| %>
      <tr>
        <td><%= usuario_tecnologia.usuario_id %></td>
        <td><%= usuario_tecnologia.tecnologia_id %></td>
        <td><%= link_to 'Show', usuario_tecnologia %></td>
        <td><%= link_to 'Edit', edit_usuario_tecnologia_path(usuario_tecnologia) %></td>
        <td><%= link_to 'Destroy', usuario_tecnologia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario Tecnologia', new_usuario_tecnologia_path %>
