<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @usuario.correo_electronico %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @usuario.contrasena %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @usuario.telefono %>
</p>

<p>
  <strong>Github:</strong>
  <%= @usuario.github %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
